<div class='flex justify-between items-center mb-5'>
  <div>
    <%= link_to "Home", people_path, class: 'border border-lime-500 text-white cursor-pointer bg-lime-500 px-4 py-1' %>
  </div>
  <div>
    <%= link_to "Edit", edit_person_path(@person), class: 'border border-blue-500 text-blue-500 cursor-pointer bg-white px-4 py-1' %>
  </div>
</div>
<%= render @person %>
<%= render @person.details %>