<div id="<%= dom_id detail %>" class='border border-slate-400 p-3 rounded-md mb-3'>
  <div class='mb-2'>
    <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-slate-700 ring-1 ring-inset ring-slate-700/10">Email</span>
    <%= detail.email %>
  </div>
  <div>
    <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-slate-700 ring-1 ring-inset ring-slate-700/10">Phone</span>
    <%= detail.phone || '--' %>
  </div>
  <div class='mt-2 flex justify-end items-center'>
    <%= link_to "Edit", edit_person_detail_path(@person, detail), { data: { turbo: false }, class: 'border border-blue-500 text-blue-500 cursor-pointer px-4 py-1' } %>
  </div>
</div>